$color-black: #000;
$color-white: #fff;
$color-background-light: #ddd;
$color-background-dark: #393745;
$color-yellow-accent: #ffc90c;
$color-section-blue4: #4E4C5F;
$color-yellow-accent-with-alpha: #ffc90c88;
$color-grey: #555;
$color-blue: #0F4C81;
$color-background-dark-with-alpha: #393745AA;
$color-transparent: 'transparent';
$color-section-blue: #B2C0D0