@import "variables";

body {
  padding: 0 !important;
  font-size: 20px !important;
  &.ReactModal__Body--open {
    overflow-y: hidden;
  }
  .button-primary {
    padding: 0 15px;
    border-radius: 5px;
    border: 2px solid $color-yellow-accent;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:active {
      background: $color-yellow-accent;
    }
  }

  .button-secondary {
    padding: 0 15px;
    border-radius: 5px;
    border: 2px solid $color-section-blue;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:active {
      background: $color-section-blue;
    }
  }

  .ril__inner {
    img.ril__image {
      top: 100px !important;
    }
  }
}