@import "variables";

button.custom-button {
  min-width: 200px;
  height: 50px;
  box-shadow: 0 0 2px #333;
  border-radius: 2.5px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  &:hover, &:focus {
    outline: none;
  }
  &.primary {
    background: $color-white;
    border: 3px solid $color-grey;
    color: $color-background-dark;
  }
  &.secondary {

  }
}

button.expand-button {
  min-width: auto;
  outline: none;
  &:hover, &:focus {
    outline: none;
  }
}
