@import "variables";

.custom-button {
  max-width: 250px;
  height: 50px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 46px;
  cursor: pointer;
  &.center {
    margin: 0 auto;
  }

  .arrow-container {
    background: #ffc90c88;
  }

  &:hover, &:focus {
    outline: none;
  }
}

button.expand-button {
  min-width: auto;
  outline: none;

  &:hover, &:focus {
    outline: none;
  }
}
