@import "variables";
.carousel-image {
  width: 100%;
  height: calc(100vh - 100px);
  object-fit: cover;
}

.custom-carousel-caption {
  top: 60%;
  left: 0 !important;
  right: auto !important;
  min-width: 75%;
  transform: translate(0, -50%);
  bottom: auto !important;
  background: $color-background-dark;
  padding: 10px !important;
  text-align: left !important;

  @media screen and (max-width: 768px) {
    left: 5% !important;
    right: 5% !important;
    top: 50%;
    transform: translate(0, -50%);
    min-width: auto;
    padding: 5px !important;
    text-align: center !important;
  }

  .carousel-caption-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #fff;
  }
}
