@import "variables";
.carousel-image {
  width: 100%;
  height: calc(100vh - 100px);
  object-fit: cover;
}

.carousel-image-credits-label {
  position: absolute;
  font-size: 15px;
  font-family: "Titillium Web", san-serif;
  font-weight: 400;
  font-style: italic;
  color: #ffffff88;
  bottom: 20px;
  right: 0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: underline;
}

.custom-carousel-caption {
  bottom: 50px !important;
  padding: 10px !important;
  text-align: left !important;
  left: 50% !important;
  min-width: 500px;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 768px) {
    padding: 5px !important;
    text-align: center !important;
  }

  .carousel-caption-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }
  .carousel-caption-content {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: $color-yellow-accent;
    text-align: center;
    font-weight: 400;
    display: block;
  }
}
