@import "variables";

.page-section {
  padding: 80px 20px;
  box-shadow: 1px 0 5px #ddd inset;
  text-align: justify;

  &.light {
    background: #fff;
    .page-section-sub-header {
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;
    }
  }

  &.dark {
    color: #fff;
    background: $color-background-dark;
    border-top: 2px solid #dddddd33;
    box-shadow: none;
    .page-section-sub-header {
      text-transform: uppercase;
      border-bottom: 1px solid #888;
    }
  }

  .page-section-header {
    .page-section-header-label {
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .page-section-header-divider {
      background: #ffc107;
      width: 120px;
      margin: 0 auto;
      display: block;
      height: 4px;
    }
  }

  .page-section-sub-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .page-section-col-image-credits-label {
    position: absolute;
    font-size: 13px;
    font-family: "Titillium Web", san-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff88;
    bottom: 0px;
    padding: 10px;
  }
}
