@import "variables";

.page-section {
  padding: 80px 40px;
  box-shadow: 1px 0 5px #ddd inset;
  text-align: justify;

  &.light {
    background: #fff;
    .page-section-sub-header {
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;
    }
  }

  &.dark {
    color: #fff;
    background: $color-background-dark;
    border-top: 2px solid #dddddd33;
    box-shadow: none;
    .page-section-header {
      .page-section-header-label {
        color: #fff;
      }
    }
    .page-section-sub-header {
      text-transform: uppercase;
      border-bottom: 1px solid #888;
    }
  }

  .page-section-main-container {
    max-width: 1600px;
    margin: 0 auto;

    .page-section-header {
      .page-section-header-label {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .page-section-header-divider {
        background: #ffc107;
        width: 120px;
        margin: 0 auto;
        display: block;
        height: 4px;
      }
    }

    .page-section-sub-header {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 500;
      padding: 5px 0;
      margin-bottom: 10px;
    }

    .page-section-col-image-credits-label {
      position: absolute;
      font-size: 15px;
      font-family: "Titillium Web", san-serif;
      cursor: pointer;
      font-weight: 400;
      font-style: italic;
      color: #ffffff88;
      bottom: 0;
      right: 0;
      padding: 10px;
      text-decoration: underline;
    }
  }
}
