@import "variables";
.dataset-card-content {

  .dataset-card-image {
    max-width: 100%;
  }

  .dataset-card-name-label, .dataset-card-species-label, .dataset-card-region-label, .dataset-card-cell-type-label {
    font-size: 14px;
    font-weight: 600;
  }

  .dataset-card-name-value, .dataset-card-species-value, .dataset-card-region-value, .dataset-card-cell-type-value {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  }

  .dataset-card-description {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dataset-card-actions-container {
    background: $color-background-light;
    padding-top: 10px;
    padding-bottom: 10px;

    .dataset-card-action {
      text-align: center;
      margin: 0 auto;
    }
  }
}
