@import "variables";
.dataset-card-content {
  max-height: 100px;

  .dataset-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100px;
  }

  .dataset-card-name-label, .dataset-card-species-label, .dataset-card-region-label, .dataset-card-cell-type-label, .dataset-card-secondary-region-label, .dataset-card-physical-integrity-label, .dataset-card-papers-label {
    font-size: 14px;
    font-weight: 600;
  }

  .dataset-card-name-value, .dataset-card-species-value, .dataset-card-region-value, .dataset-card-cell-type-value, .dataset-card-secondary-region-value, .dataset-card-physical-integrity-value, .dataset-card-papers-url {
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
  }

  .dataset-card-description {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dataset-card-source-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: $color-blue;
    padding: 2px 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
  }

  .dataset-card-actions-container {
    background: $color-background-light;
    padding-top: 10px;
    padding-bottom: 10px;

    .dataset-card-action {
      text-align: center;
      margin: 0 auto;
    }
  }
}
