.baloon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}