@import "variables";
.footer {
  width: 100%;
  height: 250px;
  bottom: 0;
  padding: 20px 0;
  background: $color-section-blue;
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    float: left;
    height: 50px;
    padding-right: 12px;
    justify-content: center;
    .footer-logo {
      display: block;
      margin: 0 auto;
    }
  }
  .footer-image {
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  .footer-header {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
  .footer-copyright {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
  .footer-column {
    font-size: 16px;
    color: $color-white;
    a {
      color: $color-white;
      text-decoration: underline;
    }
  }
}
