@import "_variables.scss";

.hodgkin-huxley-baloon {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 24px;
    border-top: 5px solid $color-background-dark;
    &.dark {
        color: #fff;
        background-color: $color-section-blue4;
        .hodgkin-huxley-baloon-header-label {
            color: #fff;
        }
    }
    .hodgkin-huxley-baloon-header-label {
        font-family: Montserrat, 'sans-serif';
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .hodgkin-huxley-baloon-label {
        font-family: Montserrat, 'sans-serif';
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
    }
    .hodgkin-huxley-baloon-value {

    }
}