.tos-overlay-container {
  position: fixed;
  background: #000000dd;
  box-shadow: -1px -1px 20px #888;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
  color: #fff;
  padding: 20px 40px;
  .tos-overlay-main-container {
    position: absolute;
    bottom: 0;
    min-height: 300px;
    left: 0;
    right: 0;
  }
}
