@import "variables";
.filter-box {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
  border-top: 5px solid #333333;
  .select-box {
    height: 48px;
    min-width: 200px;
  }
}
